.hero_container{
  background: url("../public/news.jpg"); 
  background-repeat: no-repeat ;
  height: 50vh; 
  background-size: cover;
  background-position:center top;
}

body{
  overflow-x: hidden !important;
}


.footer_container{
  background-color: #708090;
}
@media screen and (max-width:992px) {
   .hero_container{
    background-position: center;
   }
}