.hero_container{
  background: url("../public/news.jpg"); 
  background-repeat: no-repeat ;
  height: 50vh; 
  background-size: cover;
  background-position:center top;
}

body{
  overflow-x: hidden !important;
}

.news_img{
  width: 100% !important;
  max-width: 100% !important;
  max-height: 300px !important;
  object-fit:  contain !important;
}
.footer_container{
  background-color: #e1c7a4;
}
@media screen and (max-width:992px) {
   .hero_container{
    background-position: center;
   }
}