/* Header Section */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
   overflow-x: hidden !important;
}

.fixed-top {
  position: sticky;
} 

.nav_container{
  background-color: #e1c7a4;
}


.navbar-nav a{ 
  font-size: 18px;
  font-weight: 400 !important;
  text-decoration: none;
  color:black ;
}

.navbar-nav  .active{

  text-transform: none;
  font-weight: bold !important;
}

.nav-link{
  padding: 0 !important;
}

.offcanvas{
  width: 300px !important;
  background-color: #e1c7a4;
} 

.btn-close{
  background-color: white !important;
  border: none !important;
  opacity: 1;
  position: absolute;
  top: 10px;
  right: 20px;
}



/* Hero Section */

.hero_container{
  background: url("/news.jpg"); 
  background-repeat: no-repeat ;
  height: 50vh; 
  background-size: cover;
  background-position:center top;
}

 


.news_card{
  transition: transform 0.3s ease-in-out;
}
.news_card:hover{
  transform: scale(1.05);
}

.news_img{
  width: 100% !important;
  max-width: 100% !important;
  max-height: 300px !important;
  object-fit:  contain !important;
} 



/* Footer Section */
.footer_container{
  background-color: #e1c7a4;
} 


/* Pagination Section */


.pagination_item{
  cursor: pointer; 
  border-radius: 100px !important; 
  padding: 10px;
  background-color: red;
}

/* media Queries */
@media screen and (max-width:991px) { 
  .navbar-nav{ 
    display: flex !important ;
    flex-direction: column !important; 
    align-self: flex-start !important;
    text-align: left;
  }
  
  .navbar-nav>a{
    color: black ;
    font-weight: 600 !important ;
  }
  .navbar-nav  .active{
    color:white;
  }
   .hero_container{
    background-position: center;
   }
} 

@media screen and (min-width:992px) {
  .navbar-nav  .active{
    color:white;
  }
}
  